/* ------------------
Portfolios
-------------------*/

/*a.pieceLink img {border:1px solid #dbdbdb;}*/

/* ------------------
Portfolio Posts
-------------------*/

header.entry-header, header.page-header {margin-top:0;text-align:left;}
ul.portImages {display:block;list-style:none;margin:0;text-align:center;}
ul.portImages li {list-style:none; margin-bottom:1em;}
ul.portImages li img {border:1px solid #dbdbdb;}
#myModal {min-height: 300px;}
a.close-reveal-modal {}

aside {text-align:left;}
aside ul {list-style:none;margin:0;}

body.modal-open {
    overflow: hidden;
    //position: fixed;
}

div#port-container {
  display: none;
  position: absolute;
  min-height: 10em;
  width: 100vw;
  height: auto;
  background-color: white;
  color: black;
  bottom: 0;
  left: 0;
  top: 0;
  opacity: 0;
  //overflow: scroll;
  z-index: 1;
  background-color: rgba(100, 100, 100, 0.3);
}

div.open#port-container {
  display: block;
  opacity: 1;
  //animation: slide-in .75s 1 forwards;
  //left: 0;
}


@keyframes slide-in {
  0% {
    left: 90vw;
    top: 90vh;
  }
  100% {
    left: 0;
    top: 0;
  }
}

a.cancel {
  display: block;
  width:24px;
  height:24px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
}
