/* ------------------
Portfolios
-------------------*/

/*a.pieceLink img {border:1px solid #dbdbdb;}*/

/* ------------------
Portfolio Posts
-------------------*/

header.entry-header, header.page-header {margin-top:0;text-align:left;}
ul.portImages {display:block;list-style:none;margin:0;text-align:center;}
ul.portImages li {list-style:none; margin-bottom:1em;}
ul.portImages li img {border:1px solid #dbdbdb;}
#myModal {min-height: 300px;}
a.close-reveal-modal {}

aside {text-align:left;}
aside ul {list-style:none;margin:0;}

body.modal-open {
    overflow: hidden;
    //position: fixed;
}

.direction {
  display: none;
}

div#port-container {
  display: none;
  //position: absolute;
  position: fixed;
  // width: 100vw;
  // height: 100vh;
  min-height: 10em;
  overflow-y: scroll;
  // width: 100%;
  // height: auto;
  background-color: white;
  color: $near-black;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  //opacity: 0;
  //overflow: scroll;
  z-index: 100;
  background-color: rgba(100, 100, 100, 0.5);

}

div.open#port-container {
  @include display(flex);
  @include flex-flow(row nowrap);
  @include justify-content(space-around)
  @include align-items(center);
  opacity: 1;
  //animation: slide-in .75s 1 forwards;
  //left: 0;
  button.close {
    @include flex(none);
    position: absolute;
    top: 1em;
    right: 1em;
  }

  .spinner {
    @include flex(none);
    // @include flex-basis(50vw);
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 50vw;
    height: auto;
  }

  #port-container-content {
    width: 50vw;
    @include flex-basis(50vw);
    @include align-self(flex-start);
    // overflow-y: scroll;
    opacity: 1;
    transition: opacity 0.2s ease;
    &.transition {
      opacity: 0;
    }
  }

  .previous {
    // @include align-self(flex-start);
  }
  .next {
    // @include align-self(flex-end);
  }
}


@keyframes slide-in {
  0% {
    left: 90vw;
    top: 90vh;
  }
  100% {
    left: 0;
    top: 0;
  }
}

a.cancel {
  display: block;
  width:24px;
  height:24px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 2;
}
