/* ------------------
Portfolios
-------------------*/

/*a.pieceLink img {border:1px solid #dbdbdb;}*/

/* ------------------
Portfolio Posts
-------------------*/

header.entry-header, header.page-header {margin-top:0;text-align:left;}
ul.portImages {display:block;list-style:none;margin:0;text-align:center;}
ul.portImages li {list-style:none; margin-bottom:1em;}
ul.portImages li img {border:1px solid #dbdbdb;}
#myModal {min-height: 300px;}
a.close-reveal-modal {}

aside {text-align:left;}
aside ul {list-style:none;margin:0;}

span.cancel img {width:24px;height:24px;}

div#port-container {
  position: fixed;
  width: 100vw;
  height: 30vh;
  background-color: white;
  color: black;
  bottom: 0;
  left: 0;
  overflow: scroll;
}
