/* ------------------
Typography
-------------------*/

h3 {font-size:1.1rem;}

/* Desktop Typography  */
@media only screen and (min-width: 40.063em) {
	h3 {font-size:1rem;letter-spacing: 1px;}
}

h3, h4 {
	font-family: "Alegreya Sans", sans-serif;
}

h1.page-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:1.8em;
    margin-bottom:0.5em;
}

a {color:#66b3ba;}
a:visited {color:#a4c7ac;}
